body {
    background-color: #ddffdd;
}

#container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: stretch;
    width: 1024px;
    margin: auto;
}

#greeting {
    font-family: 'Fjalla One', sans-serif;
    color: #003300;
    text-align: center;
    flex-basis: 350px;
}

#greeting_header {
    font-size: 220px;
}

#greeting_sub_header{
    font-size: 38px;
}

.accentuation {
    color: #aa0000;
}

#menu {
}

