<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <link href="/static/css/style.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Kurale&subset=latin,cyrillic' rel='stylesheet'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <title>K. Kulikov home page</title>
</head>
<body>
    <div id="main">
        <header>
            <div id="page_caption"><a href="/">Hi {{ header.username }}!</a></div>
            <div><a href="{{ header.url }}">{{ header.caption }}</a></div>
        </header>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <footer>
            Контакты: rasmadeus@gmail.com
        </footer>
    </div>
</body>
</html>