<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <link href="/static/css/style.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Mate' rel='stylesheet'>
    <title>K. Kulikov home page</title>
</head>
<body>
    <div id="main">
        <header>
            <div id="page_caption"><a href="/">Hi everyone!</a></div>
            <div><a href="/admin">Login</a></div>
        </header>
        <div id="content">
            {% for article in articles %}
                <div class="article_wrapper">
                    <div class="article">
                        <h1><a href="/articles_group/{{ article_group.slug }}">{{ article.header }}</a></h1>
                        {{ article.content }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <footer>
            Contacts: rasmadeus@gmail.com
        </footer>
    </div>
</body>
</html>