{% extends "base.html" %}
{% block content %}
    <div id="one_article">
        <h1>{{ article.header }}</h1>
        {{ article.content|markdown }}
        <div class="article_nav">
            {% if article.prev_article != None %}
                <h2><a href="/articles/{{ article.prev_article.slug }}/">Предисловие</a></h2>
            {% endif %}
            {% if article.next_article != None %}
                <h2><a href="/articles/{{ article.next_article.slug }}/">Продолжение</a></h2>
            {% endif %}
        </div>
    </div>
{% endblock %}